{% extends 'base.html' %}

{% block title %}{{ super() }}Novo Médico{% endblock %}

{% block styles %}
        {{super()}}

        main{
                position: absolute;
                top: 10vh;
                bottom: 10vh;
                left: 0px;
                right: 0px;
                overflow: auto;


                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
        }
        form{
                display: flex;
                align-items: center;
                flex-direction: column;
        }
        form input{
                margin-bottom: 1.3rem;
        }
{% endblock %}

{% block content %}
        
        <form action="{{ url_for('add_medico_post') }}" method="post">
                {{ form.csrf_token }}
                <input type="text" name="nome" placeholder="Nome..." autocomplete="off">
                <input type="text" name="especialidade" placeholder="Especialidade..." autocomplete="off">
                {{form.enviar}}
        </form>

{% endblock %}
